*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  line-height: 1.3;

  @include responsiveFontSize(13, 17);
  line-height: 1.2;
  font-family: $font;
  font-weight: 400;
  color: $color-text;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  margin-bottom: 8px;
}
