.contacts__wrap {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 78px;

  background-color: $color-bg;
  background-image: url("../img/get-in-touch.jpg");
  background-position: top center;
  background-size: cover;
}

.contacts__title {
  text-align: left;
}

.contacts__text {
  margin: 0;
  margin-bottom: calcResponsiveSize(20, 40);

  font-size: 18px;
}

.contacts__form {
  max-width: 430px;
  padding: 0 16px;
}

@media(min-width: $tablet) {

  .contacts__wrap {
    padding-top: 80px;
  }

  .contacts__text {
    width: 60%;
    max-width: 560px;
  }

  .contacts__form {
    width: 60%;
    max-width: 560px;
  }
}


@media(min-width: $desktop_xs) {

  .contacts__wrap {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  .contacts__form {
    padding: 0;
  }
}
