.hero-slider {
  position: relative;
  margin-bottom: 20px;
  z-index: 1;

  .swiper-button-disabled {
    opacity: 0.2;
    pointer-events: none;
  }
}

.hero-slider__container {
  width: 100%;
  padding-top: 30px;
  padding-top: 48px;
  overflow: visible;
}

.hero-slider__title {
  position: absolute;
  top: 16px;
  left: 32px;
  z-index: 3;
  margin: 0;
  font-family: $font-accent;
  @include responsiveFontSize(16, 24);
  font-weight: 700;
  // display: none;
}

.hero-slider__controls {
  position: absolute;
  top: 0;
  right: 8px;
  z-index: 2;
  display: flex;
  align-items: center;
  min-width: 156px;
  padding: 8px;
  padding-top: 12px;

  background-color: #ffffff;
  box-shadow: 0 16px 48px 0 rgba(0, 0, 0, 0.2);
}

.hero-slider__pagination {
  margin-right: 16px;
  font-size: 16px;
  font-family: $font-accent;
  color: rgba($color-text, 0.4);

  .swiper-pagination-current {
    margin-right: 3px;
    font-size: 24px;
    color: $color-text;

    &::before {
      content: "0";
    }
  }

  .swiper-pagination-total {
    font-size: 16px;

    &::before {
      content: "0";
    }
  }
}

.hero-slider__arrows {
  display: flex;
}

.hero-slider__arrow {
  padding: 5px 5px;
  cursor: pointer;
  transition: 0.2s opacity linear;
}

.hero-slider__arrow:first-child {
  margin-right: 5px;
}

.hero-slider__arrow-icon {
  width: 16px;
  height: 11px;
  fill: rgba($color-text, 0.4);
  transition: 0.2s fill linear;
}

.hero-slider__note {
  display: none;
}

.hero-slider__arrow:hover {
  .hero-slider__arrow-icon {
    fill: $color-text;
  }
}

@media (min-width: $tablet_s) {
  .hero-slider {
    margin-bottom: 40px;
  }

  .hero-slider__container {
    padding-top: 0;
  }

  .hero-slider__title {
    display: block;
    left: 48px;
  }

  .hero-slider__controls {
    top: 56px;
    left: 48px;
    right: auto;
    flex-direction: column;
    align-items: flex-end;
    min-width: 76px;
    padding: 16px;
  }

  .hero-slider__pagination {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
    font-size: 0;
    line-height: 1;

    .swiper-pagination-current {
      margin: 0;
      margin-bottom: 20px;
      margin-bottom: 15px;
      font-size: 30px;
    }

    .swiper-pagination-total {
      font-size: 20px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 35px;
      left: 0;
      width: 120px;
      height: 1px;
      background-color: rgba($color-text, 0.11);
    }

    &::after {
      left: 48px;
      width: 80px;
      background-color: $color-text;
    }
  }

  .hero-slider__arrows {
    flex-direction: column;
    margin-top: 20px;
    margin-right: -5px;
  }

  .hero-slider__arrow:first-child {
    margin-right: 0;
  }
}

@media (min-width: $desktop_xs) {
  .hero-slider {
    margin-top: 40px;
    margin-bottom: 0;
  }

  .hero-slider__container {
    padding-left: 40px;
    padding-right: 32px;
    padding-bottom: 64px;
  }

  .hero-slider__title {
    left: 40px;
  }

  .hero-slide__description {
    margin-top: 80px;
  }

  .hero-slider__pagination {

    .swiper-pagination-current {
      font-size: 40px;
    }

    &::before,
    &::after {
      top: 45px;
      left: unset;
      right: 0;
    }

    &::after {
      left: unset;
      right: 60px;
      width: 60px;
    }
  }

  .hero-slider__controls {
    left: auto;
    right: 16px;
    top: 80px;
    width: 80px;
  }
}

@media (min-width: $desktop_s) {
  .hero-slider {
    margin-top: 56px;
    margin-bottom: 36px;
    overflow: hidden;
  }

  .hero-slider__container {
    padding-left: 100px;
    padding-right: 100px;
    overflow: hidden;
  }

  .hero-slider__title {
    top: 24px;
    left: 100px;
  }

  // .hero-slide__description {
  //   margin-top: 100px;
  // }

  .hero-slider__controls {
    top: 120px;
    top: 96px;
    right: 70px;
    min-width: 104px;
    padding: 30px;
  }
}

