.project {
  padding: 0 16px;
  padding-bottom: 24px;

  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.project__image-wrap {
  width: calc(100% + 32px);
  margin-left: -16px;
  margin-bottom: 8px;
}

.project__image-link {
  position: relative;
  display: block;
  text-decoration: none;
  color: inherit;
}

.project__image {
  display: block;
  width: 100%;
}

.project__title {
  display: block;
  margin: 0;
  margin-bottom: 10px;
  font-family: $font-accent;
  @include responsiveFontSize(12, 24);
  font-weight: 700;
}

.project__name {
  margin: 0;
  margin-bottom: 8px;
  font-family: $font-accent;
  @include responsiveFontSize(24, 32);
  font-weight: 700;
}

.project__period {
  display: block;
  margin-bottom: 8px;
  @include responsiveFontSize(13, 16);
  font-weight: 700;
}

.project__info {
  margin: 0;
  margin-bottom: 16px;
  line-height: 1.4;

  h3 {
    display: block;
    margin: 0;
    margin-bottom: 8px;
    @include responsiveFontSize(13, 16);
  }

  p {
    margin: 0;
  }

  p:not(:last-child) {
    margin-bottom: 8px;
  }
}

.project__links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 -12px;
  margin-bottom: -12px;
  margin-top: 24px;
}

.project__btn {
  margin: 0 12px;
  margin-bottom: 12px;
}

@media (min-width: $tablet_s) {

  .project__image {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: $tablet) {

  .project__links {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media(min-width: $desktop_xs) {

  .project {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;

    box-shadow: none;
  }

  .project__image-wrap,
  .project__content {
    width: calc(50% - 15px);
  }

  .project__image-wrap {
    flex-shrink: 0;
    margin: 0;
  }

  .project__image {
    width: 100%;
  }

  .project__title {
    display: none;
  }

  .project__name {
    margin-top: 0;
  }

  .portfolio__item:nth-child(2n) {

    &.project,
    .project {
      flex-direction: row-reverse;

      ul {

        li {
          padding-left: 0;
          padding-right: 16px;

          &::before {
            left: auto;
            right: 0;
          }
        }
      }

      .project__content {
        text-align: right;
      }

      .project__image-wrap {
        margin-left: 30px;
        margin-right: 0;
      }

      .project__links {
        justify-content: flex-end;
      }
    }
  }
}
