.form {
  button[type="submit"] {
    width: 100%;
    padding: 16px;
    font-size: 16px;
  }
}

.form__item {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 32px;
}

.form__label {
  margin-bottom: 4px;
  font-family: $font-accent;
  font-size: 16px;
  font-weight: 500;
  // color: #777;
}

.form__input,
.form__textarea {
  width: 100%;
  padding: 15px 10px;
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: #ffffff;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  font-family: $font;
  font-size: 16px;
  font-weight: 500;
  color: $color-text;

  transition: 0.15s border-color linear;
}

.form__input:hover,
.form__textarea:hover {
  border-color: $color-accent;
  border: solid 1px rgba(0, 0, 0, 0.7);
}

.form__input:focus,
.form__textarea:focus {
  border-color: $color-accent;
  border: solid 1px rgba(0, 0, 0, 0.7);
  outline: none;
}

.form__textarea {
  height: 120px;
  resize: none;
}

.form__required-label {
  color: #d10046;
}

@media(min-width: $tablet) {

  .form {
    button[type = "submit"] {
      padding: 20px 30px;
    }
  }

  .form__input,
  .form__textarea {
    padding: 18px 16px;
  }

  .form__textarea {
    height: 130px;
  }

  .form__item {
    margin-bottom: 24px;
  }
}
