.section {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.section__btn {
  align-self: center;
  margin-top: 32px;
}

@media (min-width: $tablet) {
  .section {
    margin-bottom: 70px;
  }

  .section__btn {
    margin-top: 40px;
  }
}

@media (min-width: $desktop_xs) {
  .section {
    margin-bottom: 110px;
  }

  .section__btn {
    margin-top: 80px;
  }
}
