.section-info {
  max-width: 600px;
  margin: 0 auto;
  @include responsiveFontSize(16, 24);
  text-align: center;

  p {
    margin: 0;
  }

  p:not(:first-child) {
    margin-top: 8px;
  }
}
