.text-content {
  line-height: 1.4;

  ul {
    @include list-reset;
    margin-bottom: 16px;

    li {
      position: relative;
      padding-left: 16px;

      &::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 0;

        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $color-text;
      }
    }
  }
}
