.langs {
  line-height: 1;
}

.langs__list {
  display: flex;
  align-items: center;
  @include list-reset;
  margin: 0 -4px;
}

.langs__item {
  margin: 0 4px;
}

.langs__link {
  display: inline-flex;
  padding: 4px;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #999999;
  transition: 0.2s color linear;
}

.langs__link:hover {
  color: $color-black;
}

.langs__link.active {
  color: $color-black;
}

@media (min-width: $desktop_xs) {
  .langs__list {
    margin-top: 0;
    margin: 0 -4px;
  }

  .langs__item {
    margin: 0;
  }

  .langs__link {
    padding: 20px 12px;
    padding-bottom: 13px;
  }
}
