.social {
  display: flex;
  flex-wrap: wrap;
  @include list-reset;

  margin-right: -8px;
}

.social__item {
  margin-right: 8px;
  padding: 0;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  transition: all 0.2s ease-in-out;
}

.social__icon {
  width: 16px;
  height: 16px;
}

.social--white {
  .social__icon {
    fill: $color-white;
  }
}

.social--center {
  justify-content: center;
}

.social--lg {
  margin-right: -16px;
  margin-bottom: -16px;

  .social__item {
    margin-right: 16px;
    margin-bottom: 16px;
  }

  .social__icon {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: $desktop_xs) {
  .social__link:hover {
    transform: scale(1.5);
  }
}
