.technologies {
  display: flex;
  flex-wrap: wrap;
  @include list-reset;
  margin-right: -16px;
  margin-bottom: -8px;
}

.technologies__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 16px;
  margin-bottom: 8px;
}

.technologies__icon {
  width: 32px;
  height: 32px;
  margin-bottom: 4px;
}

.technologies__caption {
  font-family: $font-accent;
  font-size: 10px;
  font-weight: 600;
}

@media (min-width: $desktop_xs) {

  .technologies__icon {
    width: 36px;
    height: 36px;
  }

  .technologies__caption {
    font-size: 12px;
  }
}
